@use "../abstracts" as *;
@use "../components" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: rem(70px);
  background-color: $color-white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 10;
}

.header__logo {
  display: flex;
  font-family: $ff-title-font;
  font-weight: $fw-light;
  font-size: $fz-logo-big;
  color: $color-primary;
  text-decoration: none;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: rem(80px);
}

.header__menu-item {
  display: flex;
  align-items: center;
  a {
    display: flex;
    align-items: center;
    padding: 0 5px;
    height: rem(70px);
    font-weight: $fw-bold;
    font-size: 0.6875rem;
    letter-spacing: 0.1875rem;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-grey;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    transition: 0.4s;
    &:hover,
    &:focus {
      color: $color-black;
      border-bottom: 4px solid $color-primary;
    }
    &:focus {
      outline: none;
    }
  }
}
