@use "../abstracts" as *;

.container {
  width: $desktop-page-width;
  margin: 0 auto;
}

.header__container,
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: rem(114px);
}

@media (max-width: $bp-l) {
  .container {
    width: 100%;
    padding: 0 1.5rem;
  }
}
